#skills{
    overflow: hidden;
    width: 100vw;
    max-width: 75rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin : 0 auto;
}

.skillTitle {

    font-size: 3rem;
    font-weight: 600;
    padding-top: 3rem;
    margin-bottom: 1.5rem;
}


.skillDesc{

    font-weight: 300;
    font-size: 1rem;
    max-width: 65rem;
    padding : 0 2rem
}



.skillBars{

    margin : 1.5rem;
    width: 100vw;
    max-width: 80%;
    text-align: left;
}

.skillBar {

    display: flex;
    flex-wrap: wrap;
    margin : 1rem;
    padding : 1.5rem 2rem;
    border-radius: 0.5rem;
    background: rgb(50,50,50);
}

.skillImg {

    width: 100px;
    height: auto;
    margin-right: 2rem;

}

.skillText>p
{
    font-size: 1rem;
    font-weight: 200;
}